<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Factor Calculator</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css"></head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle=
				"collapse" data-target="#bs-example-navbar-collapse-1" 
				aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Factor Calculator</a>
			</div>
		</div>
	</nav>

	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<div class="col-lg-12">
					<p>
						Please enter numbers（1~100,000）：
					</p>
				</div>
				<div class="col-lg-11">
					<input type="text" class="form-control" id="shuzi"/>
				</div>
				<div class="col-lg-1">
					<button type="button" class="btn btn-success" id="btn">To see result</button>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript">
		$("#btn").click(function(){
			var number = parseInt($("#shuzi").val());
			if(isNaN(number)){
				alert("Please enter valid number");
				return;
			}
			if(number > 100000){
				alert("Too big！");
				return;
			}
			window.location = "/" + number;
		});
	</script>
</body>
</html>