<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%= number %>Number inquiry result - Factor Calculator</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css"></head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 
				data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Factor Calculator</a>
			</div>
		</div>
	</nav>

	<div class="container">
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1">
				 <ol class="breadcrumb">
				  <li><a href="/">Home Page</a></li>
				  <li class="active"><a href="#">Inquiry Result</a></li>
				</ol>

				<p><%= number %>Number's factor（Time costing：<%= during %>Millisecond）</p>
				<ul>
					<% for(var i = 0 ; i < result.length ; i++){%>
						<li><%= result[i] %></li>
					<% } %>
				</ul>
			</div>
		</div>
	</div>

	 
</body>
</html>